<div class="card-content">
    <div class="content">
        <div class="name">@Name</div>
        <div class="description">@Description</div>
    </div>
</div>

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public string Description { get; set; }
}