<div class="column is-2">
    <nav class="menu">
        <p class="menu-label">Menu</p>
        <ul class="menu-list">
            <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active-link">
                Home
            </NavLink>
            <NavLink href="/products" ActiveClass="active-link">
                Products
            </NavLink>
            <NavLink href="/about" ActiveClass="active-link">
                About
            </NavLink>
        </ul>
    </nav>
</div>